In [ ]:
#Encoding

In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
data={
    'Gender':['male','female','female','male'],
    'Married':['yes','No','yes','No']
}

In [18]:
df=pd.DataFrame(data)
df

   Gender Married
0    male     yes
1  female      No
2  female     yes
3    male      No

In [1]:
encoder=OneHotEncoder(sparse_output=False)

NameError: name 'OneHotEncoder' is not defined

In [20]:
encoded_data=encoder.fit_transform(df[['Gender','Married']])

In [21]:
encoded_df=pd.DataFrame(encoded_data,columns=encoder.get_feature_names_out(['Gender','Married']))
encoded_df

   Gender_female  Gender_male  Married_No  Married_yes
0            0.0          1.0         0.0          1.0
1            1.0          0.0         1.0          0.0
2            1.0          0.0         0.0          1.0
3            0.0          1.0         1.0          0.0