In [3]:
import pandas as pd

In [4]:
data=pd.DataFrame({"Sizes":["s","m","l","xl","m","s","xl","l","m"]})
data

  Sizes
0     s
1     m
2     l
3    xl
4     m
5     s
6    xl
7     l
8     m

In [5]:
ord_data=[["s","m","l","xl"]]
ord_data

[['s', 'm', 'l', 'xl']]

In [6]:
from sklearn.preprocessing import OrdinalEncoder
s=OrdinalEncoder(categories=ord_data)

In [7]:
data["ENCODED"]=s.fit_transform(data[["Sizes"]])

In [8]:
data

  Sizes  ENCODED
0     s      0.0
1     m      1.0
2     l      2.0
3    xl      3.0
4     m      1.0
5     s      0.0
6    xl      3.0
7     l      2.0
8     m      1.0