In [8]:
#labelEncoding

In [9]:
import pandas as pd
import numpy as np

In [10]:
df=pd.DataFrame({"name":["cow","sheep","dog","parrot","cow","sparrow","cow","sheep"]})
df

      name
0      cow
1    sheep
2      dog
3   parrot
4      cow
5  sparrow
6      cow
7    sheep

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [13]:
df["en_name"]=le.fit_transform(df["name"])
df

      name  en_name
0      cow        0
1    sheep        3
2      dog        1
3   parrot        2
4      cow        0
5  sparrow        4
6      cow        0
7    sheep        3