In [ ]:
#get.dummies method will use many items have to print 
#drop_first=True) used to drop  one column

In [10]:
import pandas as pd

In [11]:
data={
    'Gender':['male','female','female','male'],
    'Married':['yes','No','yes','No']
}

In [12]:
df=pd.DataFrame(data)
df

   Gender Married
0    male     yes
1  female      No
2  female     yes
3    male      No

In [13]:
encoder=pd.get_dummies(df,columns=['Gender','Married'],drop_first=True)

In [14]:
print(encoder)

   Gender_male  Married_yes
0         True         True
1        False        False
2        False         True
3         True        False